@keyframes loading {
    from {
        background-color: black;
    }

    to {
        background-color: transparent;
        display: none;
    }
}

#loadingElement {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.fadeIn {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: loading;
    animation-fill-mode: forwards;
}