/* ----------------------PARA MÁS DE 900PX (ASIDE)------------------- */
@media screen and (min-width: 900px) {

    /* GENERAL */
    body {
        grid-template-rows: 90vh auto max-content;
    }
    
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
    }

    header img#logoHeader {
        /* descentrar */
        position: static;
        transform: translate(0);

        margin-left: 5%;
    }

    /* HEADER */
        /* NAV (Dropdown in mobile)*/
    nav#navMobile {
        display: none;
    }

    /* HEADER */
        /* NAV */
    nav#navDesktop{
        display: block;
        justify-self: self-end;
        margin-right: 10%;
    }

    nav#navDesktop ul a:hover {
        color: var(--yellow);
        transition: 0.2s;
    }


    /* MAIN */
    main {
        grid-template-columns: 70% auto;
        max-width: 98vw;
    }

        /* vinyls  */
    section#vinyls div.productContainer{
        grid-template-columns: 25% 25% 25% 25%;
    }

        /* ASIDE */
    aside div.newsContainer {
        max-height: 830px;
        overflow-x: hidden;
    }

        /* FOOTER */
    footer ul{
        padding: 0 30vw;
    }
    
}

/* ----------------------PARA MÁS DE 1500PX (FIX)------------------- */
@media screen and (min-width: 1500px) {
    main {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}