@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

/* 
    TODO
    · Efecto en los vinilos que onHover muestre info del disco.
    · Funcionalidad dropwdown
    · footer desktop
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* -------------------- GENERAL -------------------- */
body {
    display: grid;
    grid-template-columns: auto; /* hasta 800px width*/
    grid-template-rows: 90vh  max-content;
    background-color: #000000;
}

h1, h1 span {
    font-family: "Agbalumo";
    font-size: 45px;
}



/* HEADER ---------------------------------------------------------------------*/
    /* general */
header {
    position: fixed;
    height: 4em;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
    /* links */
header a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
    transition: 0.2s;
    font-size: larger;
}

header a:hover {
    color: rgb(214, 195, 18);
    font-size: x-large;
    transition: 0.2s;
}

    /* LOGO */
header img#logoHeader {
    max-height: 3em;
    max-width: 50%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

    /* Dropdown */
header div.dropdown {
    position: relative;
    right: -40%;
}

header .dropdown:hover .dropdown-content {
    display: block;
    background-color: #000000;
}

    /* Items del dropdown */
header ul {
    display: none;
    align-items: center;
}

header ul li {
    margin-right: 5%;

    list-style: none;
}

header ul li:last-child {
    margin-right: 10%;
}




/* BANNER 1  ---------------------------------------------------------------------*/
    /* general */
section#banner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
                   rgba(0, 0, 0, 0.5)), 
                     url("../img/banner1.webp");
    box-shadow: inset 0px -83px 40px -36px #000000;
                     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#banner hr {
    width: 80vw;
    height: 1px;
    margin-bottom: 1rem;
}

    /* H1 */
section#banner h1 {
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.57);
}

section#banner span {
    color: rgb(214, 195, 18);
}

    /* button */
section#banner button {
    font-family: "Agbalumo";

    background-color: rgb(214, 195, 18);
    color: rgb(255, 255, 255);
    padding: 5px 80px 13px 80px; /* El padding bottom diferente porque la fuente está descentrada... */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.324);
    transition: 0.3s;
    cursor: pointer;
}

section#banner button:hover {
    background-color: rgb(192, 175, 17);
    transform: scale(1.05, 1.05);
    transition: 0.2s;
}


main {
    background-color: black;
    padding-top: 1em;
}

section h2, aside h2 {
    font-family: "Agbalumo";
    text-decoration: underline;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
}



/* VINYLS  -------------------------------------------------------------------*/
    /* general */
section#vinyls{
    background-color: aliceblue;
    margin: 12px;
    border-radius: 5px;
    padding: 1em;
}

    /* H2 */
section#vinyls h2 {
    text-align: center;
    color: #000000;
    font-style: italic;
}

section#vinyls hr {
    margin-bottom: 2em;
}

    /* H3 */
h3.findMore{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: underline;
}

h3.findMore:first-of-type {
    margin-bottom: 40px;
}

    /* PRODUCTS (DIV) */
div.productContainer { /* GRID */
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 3em;;
}

div.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

    /* divs */
        /* img */
img.vinyl {
    object-fit: contain;
    height: 150px;
    max-width: 90%;
    transition: 0.2s;
    margin-bottom: 0.5em;

}

img.vinyl:hover {
    transition: 0.2s;
}

    /* div.product */
        /* div.productText */
.productText {
    display: grid;
    grid-template-columns: fit-content auto;
    grid-template-rows: auto 1.2em;
    margin-bottom: 15px;

    width: 100%;
}

.productText h3 {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    height: 100%;
    text-align: center;
    overflow: hidden;
    height: 2.2em;
    max-width: max-content;
    margin-bottom: 15px;

}

.productText h4.productStock {
    color: rgb(116, 116, 116);
    font-style: italic;
    margin-left: 10px;
    white-space: nowrap;
    margin-top: auto;
}

.productText h4.productPrice {
    color: rgb(214, 195, 18);
    font-size:x-large;
    justify-self: end;
    margin-right: 10px;
    text-decoration: underline;
    
}


    /* divs */
        /* img */
            /* button */
.product button  {
    width: 99%;
    height: 2.5em;
    border: none;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: "Agbalumo";
    font-size: larger;
    transition: 0.8s;
    cursor: pointer;
}

.product button:hover {
    background-color: rgb(201, 182, 19);
    border: none;
    color: aliceblue;
    transition: 0.2s;
}


/* ASIDE (NEWS) -----------------------------------------------------------*/
aside {
    background-color: aliceblue;
    margin: 12px;
    border-radius: 5px;
    padding: 1em;

    max-width: 94vw;
    overflow-x: hidden;

}

aside div.newsContainer {
    max-height: 100vw;
    overflow: scroll;
    margin-right: 0%;
}

    /* SCROLL BAR */
    aside::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

aside h2 {
    text-align: center;
    font-style: italic;
}

aside div.new a {
    color: #000000;
    font-style: italic;
}

aside div.new p {
    text-align: justify;
    text-justify: inter-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    max-width: 100%;
    max-height: 3.2em;
}

aside hr{
    margin-bottom: 10px;
    margin-top: 14px;
}




/* FOOTER ------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 3em;
    background-color: black;
    color: aliceblue;
} 

footer hr {
    width: 90vw;
}

footer a:first-of-type {
    margin-top: 2em;
}

footer a:last-of-type {
    margin-bottom: 2em;
}

footer a {
    margin-top: 0.5em;
}

footer a:visited {
    color: aliceblue;
}

    /* lista */
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 2em;
}


footer li a {
    color: rgb(167, 167, 167);
}

footer p {
    color: rgb(167, 167, 167);
    font-size: small;
    margin-bottom: 1em;
}









/* ----------------------PARA MÁS DE 900PX (ASIDE)------------------- */
@media screen and (min-width: 900px) {

    /* GENERAL */
    body {
        grid-template-rows: 90vh auto max-content;
    }
    
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
    }

    header img#logoHeader {
        position: static;
        transform: translate(0);
        margin-left: 5%;
    }

    header div.dropdown {
        margin-right: 10%;
        position: static;
    }

    /* BANNER1 */
    /* - */

    /* MAIN */
    main {
        display: grid;
        grid-template-columns: 70% auto;
    }

        /* vinyls  */
    section#vinyls div.productContainer{
        grid-template-columns: 25% 25% 25% 25%;
    }

        /* ASIDE */
    aside div.newsContainer {
        max-height: 830px;
        overflow-x: hidden;
    }
    
}

/* ----------------------PARA MÁS DE 1500PX (FIX)------------------- */
@media screen and (min-width: 1500px) {
    main {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}