@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* -------------------- GENERAL -------------------- */
body {
    display: grid;
    grid-template-columns: auto; /* hasta 800px width*/
    grid-template-rows: 7em 600px 100% 50% 5em;
}

h1 {
    font-family: "Agbalumo";
    font-size: 45px;
}




/* HEADER */
header {
    background-color: rgb(0, 0, 0);
    color: white;
}




/* BANNER 1 */
    /* general */
section#banner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
                   rgba(0, 0, 0, 0.5)), 
                     url("../img/banner1.webp");
                     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /* H1 */
section#banner h1 {
    color: white;
    margin-bottom: 0.5em;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.57);
}

    /* button */
section#banner button {
    font-family: "Agbalumo";

    background-color: rgb(110, 183, 1);
    color: rgb(255, 255, 255);
    padding: 5px 80px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.324);
    transition: 0.3s;
}

section#banner button:hover {
    background-color: rgb(95, 158, 0);
    transition: 0.2s;
}




/* VYNILS */
section#vynils{
    background-color: brown;
}




/* ASIDE (NEWS) */
aside {
    background-color: blue;
}




/* FOOTER */
footer {
    background-color: black;
} 





/* PARA MÁS DE 900PX (ASIDE) */
@media screen and (min-width: 900px) {
    body {
        grid-template-columns: auto 35%; /* hasta 800px width*/
        grid-template-rows: 4em 600px 100% 3em;
    }
    
    header {
        grid-column: span 2;
    }
    
    section#banner {
        grid-column: span 2;
    }
    
    section#vynils{
    }
    
    aside {
    }
    
    footer {
        grid-column: span 2;
    }   
}